body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 300px auto 50px auto;
    /* Căn form về phía dưới một khoảng cách 300px từ phía trên và 50px từ phía dưới */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    max-width: 100px;
}

input[type="tel"],
input[type="password"],
input[type="name"],
input[type="address"],
button {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: orange;
    width: 100%;
    margin-top: 20px;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: darkorange;
}