* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-wrapper {
    margin-top: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.container {
    width: 60%;
    max-width: 1000px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border: 2px solid #FFA500;
    margin-top: 100px;
    position: relative;
}

.car-card {
    padding: 20px;
    text-align: center;
}

.car-name {
    font-size: 2em;
    color: #FFA500;
    margin-bottom: 10px;
}

.car-details,
.owner-details {
    font-size: 1.2em;
    margin: 5px 0;
}

.car-description {
    margin: 15px 0;
    font-style: italic;
    color: #f13535;
}

.owner-title {
    font-size: 1.5em;
    color: #FFA500;
    margin-top: 20px;
    margin-bottom: 10px;
}

.car-images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.car-images img {
    width: 30%;
    height: auto;
    border-radius: 5px;
    border: 2px solid #FFA500;
    transition: transform 0.3s;
}

.car-images img:hover {
    transform: scale(1.1);
}

.enlarged-image-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.enlarged-image {
    max-width: 90%;
    max-height: 90%;
    cursor: pointer;
}

.like-dislike-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.like-btn,
.dislike-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
}

.like-count,
.dislike-count {
    display: inline-block;
    margin-left: 10px;
}

.dislike-count {
    color: #0d0606;
    display: inline-block;
    margin-left: 10px;
}

/* Styles cho comment-form */
.comment-form {
    flex: 1;
    max-width: 600px;
    height: 100%;
    background-color: #fff;
    border: 2px solid #FFA500;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 100px;
}

.comment-form form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.comment_User {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 10px;
    border-bottom: 1px solid #FFA500;
    max-height: 600px;
}

.form_user_comment {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 900px;
}

textarea {
    max-width: 100%;
    height: 100px;
    resize: auto;
    padding-top: 5px;
    padding-bottom: 10px;
    line-height: 40px;
}

.uploadImageButton {
    color: white;
    background-color: transparent;

}

button {
    align-self: flex-end;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.comment-list {
    list-style-type: none;
    padding: 0;
}

.comment-item {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.comment-item p {
    margin: 0;
}

.comment-item p strong {
    color: #333;
}

/* CSS cho các phần tử li */
li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

/* CSS cho thẻ p chứa thời gian */
li p.time {
    font-size: small;
    font-style: italic;
}

/* CSS cho phần tử strong trong thẻ p */
li p strong {
    color: #1e90ff;
    font-weight: bold;
}

.img-container {
    display: inline-block;
    position: relative;
    margin: 5px;
}

.preview-image {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 4px;
    object-fit: contain;
}

.remove-button {
    position: absolute;
    top: 2px;
    right: 2px;
    background: rgba(255, 0, 0, 0.7);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 2px 6px;
    font-size: 10px;
    line-height: 12px;
}

.enlarged-image-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.enlarged-image {
    max-width: 90%;
    max-height: 90%;
}

.comment-image {
    max-width: 10%;
    height: auto;
    display: block;
    margin-bottom: 10px;
    border: 1px solid #0c0b0b;
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 10px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    top: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-height: 90%;
    overflow: auto;
    /* Cho phép cuộn trong modal-content */

}

.modal-image {
    margin-top: 200px;
    background-size: cover;
    width: 800px;
    height: 1200px;
    transition: transform 0.25s ease;

}

.close,
.zoom,
.prev,
.next {
    position: absolute;
    top: 20px;
    right: 10px;
    color: rgb(235, 13, 13);
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
}

.comment-buttons {
    margin-top: 5px;
}

.comment-buttons button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
    font-size: 8px;
}

.comment-buttons button:last-child {
    background-color: #28a745;
}

.reply-input {
    display: none;
    /* border: 2px solid #FFA500; */
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.reply-input input {
    width: 100%;
    padding: 10px;
    border: 1px solid #FFA500;
    border-radius: 5px;
    margin-bottom: 10px;
}

.reply-input button {
    background-color: #FFA500;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.reply-input button:hover {
    background-color: #FF8200;
}

.reply-list {
    /* Đặt khoảng cách lề trái cho toàn bộ danh sách phản hồi */
    padding-left: 20px;
}

.reply-list li {
    /* Áp dụng lề cho mỗi phản hồi */
    padding-left: 20px;
}

.reply-list li p {
    /* Tùy chỉnh lề cho phần nội dung của mỗi phản hồi */
    margin: 0;
    /* Loại bỏ lề xung quanh nội dung */
}

.reply-list li button {
    /* Tùy chỉnh lề cho phần nội dung của mỗi phản hồi */
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
    font-size: 8px;
}

.close {
    right: 10px;
    color: rgb(235, 13, 13);
}

.zoom {
    right: 50px;
    /* Điều chỉnh vị trí nút zoom */
    color: rgb(255, 0, 76);
}

.prev,
.next {
    top: 50%;
    transform: translateY(-50%);
    font-size: 36px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 50%;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}